<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wean2016.littleprojetct.dao.UserDao">

    <select id="findByUserName" parameterType="String" resultType="cn.wean2016.littleprojetct.domain.UserEntity">
        SELECT * FROM users WHERE username = #{username}
    </select>
</mapper>